.header {
  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 1.7vw;
}

.card {
  flex-basis: 22%;
  border: 5px solid black;
  margin: 5px;
  padding: 5px;
}

.card img {
  max-width: 100px;
}
